@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
  --backgroung-gray: #f0f3fb;
}

body {
  margin: 0;
  background-color: var(--backgroung-gray);
  min-width: 320px;
  min-height: 100vh;
}
